body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #212121;
    color: white;
    height: 100px;
    padding: 20px;
  }
  
  h1 {
    font-size: 40px;
  }
  
  nav {
    float: right;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    color: #f00;
  }
  
  main {
    margin-top: 100px;
  }
  
  section {
    padding: 20px;
  }
  
  h2 {
    font-size: 20px;
  }
  
  img {
    max-width: 100%;
  }
  
  footer {
    background-color: #212121;
    color: white;
    height: 50px;
    padding: 10px;
    text-align: center;
  }
  